/* Reset styles */
body, h1, h2 {
    margin: unset;
    padding: unset;
}

/* Body styiling */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

/* Header styling */
header {
    background-color: cadetblue;
    color: antiquewhite;
}

/* Border of body */
.bodyarea {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: solid thin black;
}

.headertitle{
    background-color: cadetblue;
    color:antiquewhite;
    flex-wrap: wrap;
}

/* Navigation bar styling */
.navigationarea {
    background-color: cadetblue;
    flex-wrap: wrap;
    font-size: x-large;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Document fields styling */
.yhteystiedot, .salasana {
    margin: 10px;
    border: solid thin black;
    border-radius: 2em;
    flex-wrap: wrap;
    font-size: larger;
}

.osastot, .maksutapa, .annapalaute, .hyväksyehdot, .toimitusehdot {
    margin: 10px;
    flex-wrap: wrap;
    font-size: larger;
    border-radius: 2em;
}

legend {
    font-size: larger;
}

table {
    table-layout: auto;
    flex-wrap: wrap;
}

td {
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

h4{
    width: auto;
    flex-wrap: wrap;
}

textarea {
    overflow: hidden;
    flex-wrap: wrap;
}

/* Dropdown box style */
.pudotusvalikko {
    position: relative;
    display: inline-block;
}

.pudotusvalikkonappi {
    background-color: cadetblue;
    color: antiquewhite;
    padding: 16px;
    font-size: 16px;
    border: solid black;
}

.valintasisältö {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.valintasisältö a {
    color: black;
    padding: 0;
    text-decoration: none;
    display: block;
    border: solid thin black;
}

.valintasisältö a:hover {
    background-color: darkolivegreen;
}

.pudotusvalikko:hover .valintasisältö {
    display: block;
}

.pudotusvalikko:hover .pudotusvalikkonappi {
    background-color: darkgreen;
}

/* Kuvagalleria styling */

.galleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

img {
    max-width: 300px;
    max-height: 300px;
}

/* Footer styling */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:cadetblue;
    color: #fff;
    flex-wrap: wrap;
}